.feathericon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.feathericon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
}
.feathericon:before {
  content: "\00a0";
}
.feather-activity{background-image: url(../fonts/activity.svg);}
.feather-airplay{background-image: url(../fonts/airplay.svg);}
.feather-alert-circle{background-image: url(../fonts/alert-circle.svg);}
.feather-alert-octagon{background-image: url(../fonts/alert-octagon.svg);}
.feather-alert-triangle{background-image: url(../fonts/alert-triangle.svg);}
.feather-align-center{background-image: url(../fonts/align-center.svg);}
.feather-align-justify{background-image: url(../fonts/align-justify.svg);}
.feather-align-left{background-image: url(../fonts/align-left.svg);}
.feather-align-right{background-image: url(../fonts/align-right.svg);}
.feather-anchor{background-image: url(../fonts/anchor.svg);}
.feather-aperture{background-image: url(../fonts/aperture.svg);}
.feather-archive{background-image: url(../fonts/archive.svg);}
.feather-arrow-down-circle{background-image: url(../fonts/arrow-down-circle.svg);}
.feather-arrow-down-left{background-image: url(../fonts/arrow-down-left.svg);}
.feather-arrow-down-right{background-image: url(../fonts/arrow-down-right.svg);}
.feather-arrow-down{background-image: url(../fonts/arrow-down.svg);}
.feather-arrow-left-circle{background-image: url(../fonts/arrow-left-circle.svg);}
.feather-arrow-left{background-image: url(../fonts/arrow-left.svg);}
.feather-arrow-right-circle{background-image: url(../fonts/arrow-right-circle.svg);}
.feather-arrow-right{background-image: url(../fonts/arrow-right.svg);}
.feather-arrow-up-circle{background-image: url(../fonts/arrow-up-circle.svg);}
.feather-arrow-up-left{background-image: url(../fonts/arrow-up-left.svg);}
.feather-arrow-up-right{background-image: url(../fonts/arrow-up-right.svg);}
.feather-arrow-up{background-image: url(../fonts/arrow-up.svg);}
.feather-at-sign{background-image: url(../fonts/at-sign.svg);}
.feather-award{background-image: url(../fonts/award.svg);}
.feather-bar-chart-2{background-image: url(../fonts/bar-chart-2.svg);}
.feather-bar-chart{background-image: url(../fonts/bar-chart.svg);}
.feather-battery-charging{background-image: url(../fonts/battery-charging.svg);}
.feather-battery{background-image: url(../fonts/battery.svg);}
.feather-bell-off{background-image: url(../fonts/bell-off.svg);}
.feather-bell{background-image: url(../fonts/bell.svg);}
.feather-bluetooth{background-image: url(../fonts/bluetooth.svg);}
.feather-bold{background-image: url(../fonts/bold.svg);}
.feather-book-open{background-image: url(../fonts/book-open.svg);}
.feather-book{background-image: url(../fonts/book.svg);}
.feather-bookmark{background-image: url(../fonts/bookmark.svg);}
.feather-box{background-image: url(../fonts/box.svg);}
.feather-briefcase{background-image: url(../fonts/briefcase.svg);}
.feather-calendar{background-image: url(../fonts/calendar.svg);}
.feather-camera-off{background-image: url(../fonts/camera-off.svg);}
.feather-camera{background-image: url(../fonts/camera.svg);}
.feather-cast{background-image: url(../fonts/cast.svg);}
.feather-check-circle{background-image: url(../fonts/check-circle.svg);}
.feather-check-square{background-image: url(../fonts/check-square.svg);}
.feather-check{background-image: url(../fonts/check.svg);}
.feather-chevron-down{background-image: url(../fonts/chevron-down.svg);}
.feather-chevron-left{background-image: url(../fonts/chevron-left.svg);}
.feather-chevron-right{background-image: url(../fonts/chevron-right.svg);}
.feather-chevron-up{background-image: url(../fonts/chevron-up.svg);}
.feather-chevrons-down{background-image: url(../fonts/chevrons-down.svg);}
.feather-chevrons-left{background-image: url(../fonts/chevrons-left.svg);}
.feather-chevrons-right{background-image: url(../fonts/chevrons-right.svg);}
.feather-chevrons-up{background-image: url(../fonts/chevrons-up.svg);}
.feather-chrome{background-image: url(../fonts/chrome.svg);}
.feather-circle{background-image: url(../fonts/circle.svg);}
.feather-clipboard{background-image: url(../fonts/clipboard.svg);}
.feather-clock{background-image: url(../fonts/clock.svg);}
.feather-cloud-drizzle{background-image: url(../fonts/cloud-drizzle.svg);}
.feather-cloud-lightning{background-image: url(../fonts/cloud-lightning.svg);}
.feather-cloud-off{background-image: url(../fonts/cloud-off.svg);}
.feather-cloud-rain{background-image: url(../fonts/cloud-rain.svg);}
.feather-cloud-snow{background-image: url(../fonts/cloud-snow.svg);}
.feather-cloud{background-image: url(../fonts/cloud.svg);}
.feather-code{background-image: url(../fonts/code.svg);}
.feather-codepen{background-image: url(../fonts/codepen.svg);}
.feather-codesandbox{background-image: url(../fonts/codesandbox.svg);}
.feather-coffee{background-image: url(../fonts/coffee.svg);}
.feather-columns{background-image: url(../fonts/columns.svg);}
.feather-command{background-image: url(../fonts/command.svg);}
.feather-compass{background-image: url(../fonts/compass.svg);}
.feather-copy{background-image: url(../fonts/copy.svg);}
.feather-corner-down-left{background-image: url(../fonts/corner-down-left.svg);}
.feather-corner-down-right{background-image: url(../fonts/corner-down-right.svg);}
.feather-corner-left-down{background-image: url(../fonts/corner-left-down.svg);}
.feather-corner-left-up{background-image: url(../fonts/corner-left-up.svg);}
.feather-corner-right-down{background-image: url(../fonts/corner-right-down.svg);}
.feather-corner-right-up{background-image: url(../fonts/corner-right-up.svg);}
.feather-corner-up-left{background-image: url(../fonts/corner-up-left.svg);}
.feather-corner-up-right{background-image: url(../fonts/corner-up-right.svg);}
.feather-cpu{background-image: url(../fonts/cpu.svg);}
.feather-credit-card{background-image: url(../fonts/credit-card.svg);}
.feather-crop{background-image: url(../fonts/crop.svg);}
.feather-crosshair{background-image: url(../fonts/crosshair.svg);}
.feather-database{background-image: url(../fonts/database.svg);}
.feather-delete{background-image: url(../fonts/delete.svg);}
.feather-disc{background-image: url(../fonts/disc.svg);}
.feather-dollar-sign{background-image: url(../fonts/dollar-sign.svg);}
.feather-download-cloud{background-image: url(../fonts/download-cloud.svg);}
.feather-download{background-image: url(../fonts/download.svg);}
.feather-droplet{background-image: url(../fonts/droplet.svg);}
.feather-edit-2{background-image: url(../fonts/edit-2.svg);}
.feather-edit-3{background-image: url(../fonts/edit-3.svg);}
.feather-edit{background-image: url(../fonts/edit.svg);}
.feather-external-link{background-image: url(../fonts/external-link.svg);}
.feather-eye-off{background-image: url(../fonts/eye-off.svg);}
.feather-eye{background-image: url(../fonts/eye.svg);}
.feather-facebook{background-image: url(../fonts/facebook.svg);}
.feather-fast-forward{background-image: url(../fonts/fast-forward.svg);}
.feather-feather{background-image: url(../fonts/feather.svg);}
.feather-figma{background-image: url(../fonts/figma.svg);}
.feather-file-minus{background-image: url(../fonts/file-minus.svg);}
.feather-file-plus{background-image: url(../fonts/file-plus.svg);}
.feather-file-text{background-image: url(../fonts/file-text.svg);}
.feather-file{background-image: url(../fonts/file.svg);}
.feather-film{background-image: url(../fonts/film.svg);}
.feather-filter{background-image: url(../fonts/filter.svg);}
.feather-flag{background-image: url(../fonts/flag.svg);}
.feather-folder-minus{background-image: url(../fonts/folder-minus.svg);}
.feather-folder-plus{background-image: url(../fonts/folder-plus.svg);}
.feather-folder{background-image: url(../fonts/folder.svg);}
.feather-framer{background-image: url(../fonts/framer.svg);}
.feather-frown{background-image: url(../fonts/frown.svg);}
.feather-gift{background-image: url(../fonts/gift.svg);}
.feather-git-branch{background-image: url(../fonts/git-branch.svg);}
.feather-git-commit{background-image: url(../fonts/git-commit.svg);}
.feather-git-merge{background-image: url(../fonts/git-merge.svg);}
.feather-git-pull-request{background-image: url(../fonts/git-pull-request.svg);}
.feather-github{background-image: url(../fonts/github.svg);}
.feather-gitlab{background-image: url(../fonts/gitlab.svg);}
.feather-globe{background-image: url(../fonts/globe.svg);}
.feather-grid{background-image: url(../fonts/grid.svg);}
.feather-hard-drive{background-image: url(../fonts/hard-drive.svg);}
.feather-hash{background-image: url(../fonts/hash.svg);}
.feather-headphones{background-image: url(../fonts/headphones.svg);}
.feather-heart{background-image: url(../fonts/heart.svg);}
.feather-help-circle{background-image: url(../fonts/help-circle.svg);}
.feather-hexagon{background-image: url(../fonts/hexagon.svg);}
.feather-home{background-image: url(../fonts/home.svg);}
.feather-image{background-image: url(../fonts/image.svg);}
.feather-inbox{background-image: url(../fonts/inbox.svg);}
.feather-info{background-image: url(../fonts/info.svg);}
.feather-instagram{background-image: url(../fonts/instagram.svg);}
.feather-italic{background-image: url(../fonts/italic.svg);}
.feather-key{background-image: url(../fonts/key.svg);}
.feather-layers{background-image: url(../fonts/layers.svg);}
.feather-layout{background-image: url(../fonts/layout.svg);}
.feather-life-buoy{background-image: url(../fonts/life-buoy.svg);}
.feather-link-2{background-image: url(../fonts/link-2.svg);}
.feather-link{background-image: url(../fonts/link.svg);}
.feather-linkedin{background-image: url(../fonts/linkedin.svg);}
.feather-list{background-image: url(../fonts/list.svg);}
.feather-loader{background-image: url(../fonts/loader.svg);}
.feather-lock{background-image: url(../fonts/lock.svg);}
.feather-log-in{background-image: url(../fonts/log-in.svg);}
.feather-log-out{background-image: url(../fonts/log-out.svg);}
.feather-mail{background-image: url(../fonts/mail.svg);}
.feather-map-pin{background-image: url(../fonts/map-pin.svg);}
.feather-map{background-image: url(../fonts/map.svg);}
.feather-maximize-2{background-image: url(../fonts/maximize-2.svg);}
.feather-maximize{background-image: url(../fonts/maximize.svg);}
.feather-meh{background-image: url(../fonts/meh.svg);}
.feather-menu{background-image: url(../fonts/menu.svg);}
.feather-message-circle{background-image: url(../fonts/message-circle.svg);}
.feather-message-square{background-image: url(../fonts/message-square.svg);}
.feather-mic-off{background-image: url(../fonts/mic-off.svg);}
.feather-mic{background-image: url(../fonts/mic.svg);}
.feather-minimize-2{background-image: url(../fonts/minimize-2.svg);}
.feather-minimize{background-image: url(../fonts/minimize.svg);}
.feather-minus-circle{background-image: url(../fonts/minus-circle.svg);}
.feather-minus-square{background-image: url(../fonts/minus-square.svg);}
.feather-minus{background-image: url(../fonts/minus.svg);}
.feather-monitor{background-image: url(../fonts/monitor.svg);}
.feather-moon{background-image: url(../fonts/moon.svg);}
.feather-more-horizontal{background-image: url(../fonts/more-horizontal.svg);}
.feather-more-vertical{background-image: url(../fonts/more-vertical.svg);}
.feather-mouse-pointer{background-image: url(../fonts/mouse-pointer.svg);}
.feather-move{background-image: url(../fonts/move.svg);}
.feather-music{background-image: url(../fonts/music.svg);}
.feather-navigation-2{background-image: url(../fonts/navigation-2.svg);}
.feather-navigation{background-image: url(../fonts/navigation.svg);}
.feather-octagon{background-image: url(../fonts/octagon.svg);}
.feather-package{background-image: url(../fonts/package.svg);}
.feather-paperclip{background-image: url(../fonts/paperclip.svg);}
.feather-pause-circle{background-image: url(../fonts/pause-circle.svg);}
.feather-pause{background-image: url(../fonts/pause.svg);}
.feather-pen-tool{background-image: url(../fonts/pen-tool.svg);}
.feather-percent{background-image: url(../fonts/percent.svg);}
.feather-phone-call{background-image: url(../fonts/phone-call.svg);}
.feather-phone-forwarded{background-image: url(../fonts/phone-forwarded.svg);}
.feather-phone-incoming{background-image: url(../fonts/phone-incoming.svg);}
.feather-phone-missed{background-image: url(../fonts/phone-missed.svg);}
.feather-phone-off{background-image: url(../fonts/phone-off.svg);}
.feather-phone-outgoing{background-image: url(../fonts/phone-outgoing.svg);}
.feather-phone{background-image: url(../fonts/phone.svg);}
.feather-pie-chart{background-image: url(../fonts/pie-chart.svg);}
.feather-play-circle{background-image: url(../fonts/play-circle.svg);}
.feather-play{background-image: url(../fonts/play.svg);}
.feather-plus-circle{background-image: url(../fonts/plus-circle.svg);}
.feather-plus-square{background-image: url(../fonts/plus-square.svg);}
.feather-plus{background-image: url(../fonts/plus.svg);}
.feather-pocket{background-image: url(../fonts/pocket.svg);}
.feather-power{background-image: url(../fonts/power.svg);}
.feather-printer{background-image: url(../fonts/printer.svg);}
.feather-radio{background-image: url(../fonts/radio.svg);}
.feather-refresh-ccw{background-image: url(../fonts/refresh-ccw.svg);}
.feather-refresh-cw{background-image: url(../fonts/refresh-cw.svg);}
.feather-repeat{background-image: url(../fonts/repeat.svg);}
.feather-rewind{background-image: url(../fonts/rewind.svg);}
.feather-rotate-ccw{background-image: url(../fonts/rotate-ccw.svg);}
.feather-rotate-cw{background-image: url(../fonts/rotate-cw.svg);}
.feather-rss{background-image: url(../fonts/rss.svg);}
.feather-save{background-image: url(../fonts/save.svg);}
.feather-scissors{background-image: url(../fonts/scissors.svg);}
.feather-search{background-image: url(../fonts/search.svg);}
.feather-send{background-image: url(../fonts/send.svg);}
.feather-server{background-image: url(../fonts/server.svg);}
.feather-settings{background-image: url(../fonts/settings.svg);}
.feather-share-2{background-image: url(../fonts/share-2.svg);}
.feather-share{background-image: url(../fonts/share.svg);}
.feather-shield-off{background-image: url(../fonts/shield-off.svg);}
.feather-shield{background-image: url(../fonts/shield.svg);}
.feather-shopping-bag{background-image: url(../fonts/shopping-bag.svg);}
.feather-shopping-cart{background-image: url(../fonts/shopping-cart.svg);}
.feather-shuffle{background-image: url(../fonts/shuffle.svg);}
.feather-sidebar{background-image: url(../fonts/sidebar.svg);}
.feather-skip-back{background-image: url(../fonts/skip-back.svg);}
.feather-skip-forward{background-image: url(../fonts/skip-forward.svg);}
.feather-slack{background-image: url(../fonts/slack.svg);}
.feather-slash{background-image: url(../fonts/slash.svg);}
.feather-sliders{background-image: url(../fonts/sliders.svg);}
.feather-smartphone{background-image: url(../fonts/smartphone.svg);}
.feather-smile{background-image: url(../fonts/smile.svg);}
.feather-speaker{background-image: url(../fonts/speaker.svg);}
.feather-square{background-image: url(../fonts/square.svg);}
.feather-star{background-image: url(../fonts/star.svg);}
.feather-stop-circle{background-image: url(../fonts/stop-circle.svg);}
.feather-sun{background-image: url(../fonts/sun.svg);}
.feather-sunrise{background-image: url(../fonts/sunrise.svg);}
.feather-sunset{background-image: url(../fonts/sunset.svg);}
.feather-tablet{background-image: url(../fonts/tablet.svg);}
.feather-tag{background-image: url(../fonts/tag.svg);}
.feather-target{background-image: url(../fonts/target.svg);}
.feather-terminal{background-image: url(../fonts/terminal.svg);}
.feather-thermometer{background-image: url(../fonts/thermometer.svg);}
.feather-thumbs-down{background-image: url(../fonts/thumbs-down.svg);}
.feather-thumbs-up{background-image: url(../fonts/thumbs-up.svg);}
.feather-toggle-left{background-image: url(../fonts/toggle-left.svg);}
.feather-toggle-right{background-image: url(../fonts/toggle-right.svg);}
.feather-tool{background-image: url(../fonts/tool.svg);}
.feather-trash-2{background-image: url(../fonts/trash-2.svg);}
.feather-trash{background-image: url(../fonts/trash.svg);}
.feather-trello{background-image: url(../fonts/trello.svg);}
.feather-trending-down{background-image: url(../fonts/trending-down.svg);}
.feather-trending-up{background-image: url(../fonts/trending-up.svg);}
.feather-triangle{background-image: url(../fonts/triangle.svg);}
.feather-truck{background-image: url(../fonts/truck.svg);}
.feather-tv{background-image: url(../fonts/tv.svg);}
.feather-twitch{background-image: url(../fonts/twitch.svg);}
.feather-twitter{background-image: url(../fonts/twitter.svg);}
.feather-type{background-image: url(../fonts/type.svg);}
.feather-umbrella{background-image: url(../fonts/umbrella.svg);}
.feather-underline{background-image: url(../fonts/underline.svg);}
.feather-unlock{background-image: url(../fonts/unlock.svg);}
.feather-upload-cloud{background-image: url(../fonts/upload-cloud.svg);}
.feather-upload{background-image: url(../fonts/upload.svg);}
.feather-user-check{background-image: url(../fonts/user-check.svg);}
.feather-user-minus{background-image: url(../fonts/user-minus.svg);}
.feather-user-plus{background-image: url(../fonts/user-plus.svg);}
.feather-user-x{background-image: url(../fonts/user-x.svg);}
.feather-user{background-image: url(../fonts/user.svg);}
.feather-users{background-image: url(../fonts/users.svg);}
.feather-video-off{background-image: url(../fonts/video-off.svg);}
.feather-video{background-image: url(../fonts/video.svg);}
.feather-voicemail{background-image: url(../fonts/voicemail.svg);}
.feather-volume-1{background-image: url(../fonts/volume-1.svg);}
.feather-volume-2{background-image: url(../fonts/volume-2.svg);}
.feather-volume-x{background-image: url(../fonts/volume-x.svg);}
.feather-volume{background-image: url(../fonts/volume.svg);}
.feather-watch{background-image: url(../fonts/watch.svg);}
.feather-wifi-off{background-image: url(../fonts/wifi-off.svg);}
.feather-wifi{background-image: url(../fonts/wifi.svg);}
.feather-wind{background-image: url(../fonts/wind.svg);}
.feather-x-circle{background-image: url(../fonts/x-circle.svg);}
.feather-x-octagon{background-image: url(../fonts/x-octagon.svg);}
.feather-x-square{background-image: url(../fonts/x-square.svg);}
.feather-x{background-image: url(../fonts/x.svg);}
.feather-youtube{background-image: url(../fonts/youtube.svg);}
.feather-zap-off{background-image: url(../fonts/zap-off.svg);}
.feather-zap{background-image: url(../fonts/zap.svg);}
.feather-zoom-in{background-image: url(../fonts/zoom-in.svg);}
.feather-zoom-out{background-image: url(../fonts/zoom-out.svg);}
