
/* .html2canvas-container { */
    /* width: 3000px !important; */
    /* height: 3000px !important; */
/* } */

.dropdown-menu li {
    margin-left: -10px;
    font-size: 16px !important
}

.input-group-btn {
    font-size: 14px;
}

hr {
    margin-top: 12px !important;
    margin-bottom: 12px !important
}

.colorpicker-2x .colorpicker-saturation {
    width: 175px;
    height: 175px;
}

.colorpicker-2x .colorpicker-hue,
.colorpicker-2x .colorpicker-alpha {
    width: 30px;
    height: 175px;
}

.colorpicker-2x .colorpicker-color,
.colorpicker-2x .colorpicker-color div {
    height: 30px;
}

.colorpicker-selectors i {
    height: 20px !important;
    width: 20px !important
}

/* .alert { */
    /* margin-bottom: 0px !important */
/* } */


/* body { */
    /* margin: 50px; */
/* } */

body {
    margin: 0px;
}

#accordion .glyphicon {
    margin-right: 10px;
}

.panel-collapse > .list-group .list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.panel-collapse > .list-group .list-group-item {
    border-width: 1px 0;
}

.panel-collapse > .list-group {
    margin-bottom: 0;
}

.panel-collapse .list-group-item {
    border-radius: 0;
}

.panel-collapse .list-group .list-group {
    margin: 0;
    margin-top: 10px;
}

.panel-collapse .list-group-item li.list-group-item {
    margin: 0 -15px;
    border-top: 1px solid #ddd !important;
    border-bottom: 0;
    padding-left: 30px;
}

    .panel-collapse .list-group-item li.list-group-item:last-child {
        padding-bottom: 0;
    }

.panel-collapse div.list-group div.list-group {
    margin: 0;
}

.panel-collapse div.list-group .list-group a.list-group-item {
    border-top: 1px solid #ddd !important;
    border-bottom: 0;
    padding-left: 30px;
}

.panel-collapse .list-group-item li.list-group-item {
    border-top: 1px solid #DDD !important;
}

.container {
    width: 1500px;
    padding-top: 5px;
}

.swatch {
    width: 100px;
    height: 70px;
    border-radius: 5px;
    border: 2px solid #666;
}

.swatch-clickable:hover {
    border: 2px solid #000;
    cursor: pointer;
}

.dropdown-menu {
    padding: 10px;
}

img {
    -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    margin-bottom: 20px;
}

.range {
    display: table;
    position: relative;
    height: 25px;
    margin-top: 20px;
    background-color: rgb(245, 245, 245);
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

    .range input[type="range"] {
        -webkit-appearance: none !important;
        -moz-appearance: none !important;
        -ms-appearance: none !important;
        -o-appearance: none !important;
        appearance: none !important;
        display: table-cell;
        width: 100%;
        background-color: transparent;
        height: 25px;
        cursor: pointer;
    }

        .range input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none !important;
            -moz-appearance: none !important;
            -ms-appearance: none !important;
            -o-appearance: none !important;
            appearance: none !important;
            width: 11px;
            height: 25px;
            color: rgb(255, 255, 255);
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: 0px;
            background-color: rgb(153, 153, 153);
        }

        .range input[type="range"]::-moz-slider-thumb {
            -webkit-appearance: none !important;
            -moz-appearance: none !important;
            -ms-appearance: none !important;
            -o-appearance: none !important;
            appearance: none !important;
            width: 11px;
            height: 25px;
            color: rgb(255, 255, 255);
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: 0px;
            background-color: rgb(153, 153, 153);
        }

    .range output {
        display: table-cell;
        padding: 3px 5px 2px;
        min-width: 40px;
        color: rgb(255, 255, 255);
        background-color: rgb(153, 153, 153);
        text-align: center;
        text-decoration: none;
        border-radius: 4px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        width: 1%;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: -moz-none;
        -o-user-select: none;
        user-select: none;
    }

    .range input[type="range"] {
        outline: none;
    }

    .range.range-info input[type="range"]::-webkit-slider-thumb {
        background-color: rgb(91, 192, 222);
    }

    .range.range-info input[type="range"]::-moz-slider-thumb {
        background-color: rgb(91, 192, 222);
    }

    .range.range-info output {
        background-color: rgb(91, 192, 222);
    }

    .range.range-info input[type="range"] {
        outline-color: rgb(91, 192, 222);
    }

#renkkler i {
	cursor: pointer
}